.site-about,
.site-login,
.site-contact{
	color:white;
}
.caoPata2{
	position:fixed;
	margin:auto;
	left:0;
	right:0;
	opacity:0;
}
.caoPata2Go{
	opacity:1;
	right:-500px;
	animation: moveDog 2s;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes moveDog {
    from {right:0;opacity:0;}
    to {right: -500px;opacity:1;}
}

/* Standard syntax */
@keyframes moveDog {
	from {right:0;opacity:0;}
	to {right: -500px;opacity:1;}
}